@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,500&display=swap');

html {
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    min-width: 300px;
    margin: 10px auto;
    background-color: black;
}

.link-blocks {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
}

.block {
    border-radius: 50px;
    background-color: aquamarine;
    margin: 20px;
    h2 {
        color: #fff;
        font-size: 28px;
        margin: 0px 0 0 20px;
    }

    img {
        height: 80px;
        width: 80px;
        margin: 30px;
    }


    &-sq{
        width: 250px;
        height: 250px;
    }

    &-lng{
        width: 250px;
        height: 350px;

        .block-text {
            margin: 100px 0 0 0;
        }
    }

    &-2lng {
        width: 250px;
        height: 500px;
    }

    &-items {
        display: flex;
        flex-direction: column;
    }
    
}

.column {
    flex-direction: column;
}